<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Clienti</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
</head>

<body>
	<div th:replace = "navbar :: navbar"></div>

	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${clienti}" class="container my-5">
					<p class="my-5">
						<a href="/clienti/nuovo" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Aggiungi cliente</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nessun cliente per ora</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nome</th>
										<th>Cognome</th>
										<th>Nome Azienda</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cliente : ${clienti}">
										<td th:text="${cliente.id}">ID</td>
										<td th:text="${cliente.nome}">NOME</td>
										<td th:text="${cliente.cognome}">COGNOME</td>
										<td th:text="${cliente.nomeAzienda}">AZIENDA</td>
										<td><a
											th:href="@{/clienti/modifica/{id}(id=${cliente.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/clienti/elimina/{id}(id=${cliente.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>