<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Dipartimenti</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
</head>

<body>
	<div th:replace = "navbar :: navbar"></div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${dipartimenti}" class="container my-5">
					<p class="my-5">
						<a href="/dipartimenti/nuovo" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Aggiungi dipartimento</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nessun dipartimento per ora</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nome Dipartimento</th>
										<th>Area Dipartimento</th>
										<th>Num Telefono</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dipartimento : ${dipartimenti}">
										<td th:text="${dipartimento.id}">ID</td>
										<td th:text="${dipartimento.nomeDipartimento}">NOME
											DIPARTIMENTO</td>
										<td th:text="${dipartimento.areaDipartimento}">AREA
											DIPARTIMENTO</td>
										<td th:text="${dipartimento.numTelefono}">NUMERO TELEFONO</td>
										<td><a
											th:href="@{/dipartimenti/modifica/{id}(id=${dipartimento.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/dipartimenti/elimina/{id}(id=${dipartimento.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>