<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Modifica progetto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
<link th:rel="stylesheet"
	th:href="@{/assets/bootstrap-dual-listbox/bootstrap-duallistbox.min.css}" />
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div th:replace = "navbar :: navbar"></div>
	<div class="container my-5">
		<h3>Modifica progetto</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/progetti/aggiorna/{id}(id=${progetto.id})}"
						th:object="${progetto}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nomeProgetto" class="col-form-label">Nome
									Progetto</label> <input type="text" th:field="*{nomeProgetto}"
									class="form-control" id="nomeProgetto"
									placeholder="Nome Progetto">
							</div>

							<div class="form-group col-md-8">
								<label for="impiegati" class="col-form-label">Impiegati</label>
								<select multiple="multiple" size="5" name="impiegati[]"
									id="impiegatiselect" th:field="*{impiegati}" class="form-control">
									<option th:each="impiegato : ${impiegati}"
										th:value="${impiegato.id}" th:text="${impiegato?.cognome}"></option>
								</select>
							</div>

							<div class="form-group col-md-8">
								<label for="clienti" class="col-form-label">Clienti</label> <select
									multiple="multiple" size="5" name="clienti[]" id="clientiselect"
									th:field="*{clienti}" class="form-control">
									<option th:each="cliente : ${clienti}" th:value="${cliente.id}"
										th:text="${cliente?.nomeAzienda}"></option>
								</select>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary"
									value="Modifica Progetto">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script
	th:src="@{/assets/bootstrap-dual-listbox/jquery.bootstrap-duallistbox.min.js}"></script>

<script>
	$('#impiegatiselect').bootstrapDualListbox();
	$('#clientiselect').bootstrapDualListbox();
</script>
	
</body>
</html>
















