<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Impiegati</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
</head>
<body>
	<div th:replace = "navbar :: navbar"></div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${impiegati}" class="container my-5">
					<p class="my-5">
						<a href="/impiegati/nuovo" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Aggiungi impiegato</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nessun impiegato per ora</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nome</th>
										<th>Cognome</th>
										<th>Ruolo</th>
										<th>Data Assunzione</th>
										<th>Capo</th>
										<th>Dipartimento</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="impiegato : ${impiegati}">
										<td th:text="${impiegato.id}">ID</td>
										<td th:text="${impiegato.nome}">NOME</td>
										<td th:text="${impiegato.cognome}">COGNOME</td>
										<td th:text="${impiegato.ruolo}">RUOLO</td>
										<td th:text="${impiegato.dataAssunzione}">DATA ASSUNZIONE</td>
										<td th:text="${impiegato?.capo?.cognome}">CAPO</td>
										<td th:text="${impiegato?.dipartimento?.nomeDipartimento}">DIPARTIMENTO</td>
										<td><a
											th:href="@{/impiegati/modifica/{id}(id=${impiegato.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/impiegati/elimina/{id}(id=${impiegato.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>