<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Gestione Progetti Aziendali</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div th:replace="navbar :: navbar"></div>

	<main class="container">

		<!-- 	<div class="starter-template text-center py-5 px-3">
			<h1>Gestione Progetti Aziendali</h1>
		</div>
	</main> -->
		<!-- /.container -->
		<div class="container my-2">
			<div class="card">
				<div class="card-body">
					<p>
					<h3>Clienti</h3>
					</p>
					<div th:switch="${clienti}" class="container my-5">
						<div class="col-md-10">
							<h2 th:case="null">Nessun cliente per ora</h2>
							<div th:case="*">
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th>ID</th>
											<th>Nome</th>
											<th>Cognome</th>
											<th>Nome Azienda</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="cliente : ${clienti}">
											<td th:text="${cliente.id}">ID</td>
											<td th:text="${cliente.nome}">NOME</td>
											<td th:text="${cliente.cognome}">COGNOME</td>
											<td th:text="${cliente.nomeAzienda}">AZIENDA</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container my-2">
			<div class="card">
				<div class="card-body">
					<p>
					<h3>Dipartimenti</h3>
					</p>
					<div th:switch="${dipartimenti}" class="container my-5">
						<div class="col-md-10">
							<h2 th:case="null">Nessun dipartimento per ora</h2>
							<div th:case="*">
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th>ID</th>
											<th>Nome Dipartimento</th>
											<th>Area Dipartimento</th>
											<th>Num Telefono</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="dipartimento : ${dipartimenti}">
											<td th:text="${dipartimento.id}">ID</td>
											<td th:text="${dipartimento.nomeDipartimento}">NOME
												DIPARTIMENTO</td>
											<td th:text="${dipartimento.areaDipartimento}">AREA
												DIPARTIMENTO</td>
											<td th:text="${dipartimento.numTelefono}">NUMERO
												TELEFONO</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container my-2">
			<div class="card">
				<div class="card-body">
					<p>
					<h3>Impiegati</h3>
					</p>
					<div th:switch="${impiegati}" class="container my-5">
						<div class="col-md-10">
							<h2 th:case="null">Nessun impiegato per ora</h2>
							<div th:case="*">
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th>ID</th>
											<th>Nome</th>
											<th>Cognome</th>
											<th>Ruolo</th>
											<th>Data Assunzione</th>
											<th>Capo</th>
											<th>Dipartimento</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="impiegato : ${impiegati}">
											<td th:text="${impiegato.id}">ID</td>
											<td th:text="${impiegato.nome}">NOME</td>
											<td th:text="${impiegato.cognome}">COGNOME</td>
											<td th:text="${impiegato.ruolo}">RUOLO</td>
											<td th:text="${impiegato.dataAssunzione}">DATA
												ASSUNZIONE</td>
											<td th:text="${impiegato?.capo?.cognome}">CAPO</td>
											<td th:text="${impiegato.dipartimento.nomeDipartimento}">DIPARTIMENTO</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container my-2">
			<div class="card">
				<div class="card-body">
					<p>
					<h3>Progetti</h3>
					</p>
					<div th:switch="${progetti}" class="container my-5">
						<div class="col-md-10">
							<h2 th:case="null">Nessun progetto per ora</h2>
							<div th:case="*">
								<table class="table table-striped table-responsive-md">
									<thead>
										<tr>
											<th>ID</th>
											<th>Nome progetto</th>
											<th>Impiegati</th>
											<th>Clienti</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="progetto : ${progetti}">
											<td th:text="${progetto.id}">ID</td>
											<td th:text="${progetto.nomeProgetto}">NOME</td>
											<td>
												<table>
													<tr th:each="impiegato : ${progetto.impiegati}">
														<td th:text="${impiegato.cognome}">IMPIEGATI</td>
													</tr>
												</table>
											</td>
											<td>
												<table>
													<tr th:each="cliente : ${progetto.clienti}">
														<td th:text="${cliente.nomeAzienda}">CLIENTI</td>
													</tr>
												</table>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
