<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Gestione Progetti Aziendali</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div th:fragment = "navbar" class="container my-2">
		<div class="card">
			<div class="card-body">
				<div class="container my-2">
					<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
						<div class="container-fluid">
							<a class="navbar-brand" href="/">Gestione Progetti Aziendali</a>
							<button class="navbar-toggler" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarsExampleDefault"
								aria-controls="navbarsExampleDefault" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarsExampleDefault">
								<ul class="navbar-nav me-auto mb-2 mb-md-0">
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/clienti/list' ? 'active':''}"><a class="nav-link"
										th:href="@{/clienti/list}"><span>Clienti</span></a></li>
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/dipartimenti/list' ? 'active':''}"><a class="nav-link"
										th:href="@{/dipartimenti/list}"><span>Dipartimenti</span></a></li>
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/impiegati/list' ? 'active':''}"><a class="nav-link"
										th:href="@{/impiegati/list}"><span>Impiegati</span></a></li>
									<li
										th:classappend="${#httpServletRequest.getRequestURI() == '/progetti/list' ? 'active':''}"><a class="nav-link"
										th:href="@{/progetti/list}"><span>Progetti</span></a></li>
										<li role="separator"></li>

								</ul>
								
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>