<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Aggiungi dipartimento</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div th:replace = "navbar :: navbar"></div>
	<div class="container my-5">
		<h3>Aggiungi dipartimento</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/dipartimenti/salva}"
						th:object="${dipartimento}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nomeDipartimento" class="col-form-label">Nome
									dipartimento</label> <input type="text" th:field="*{nomeDipartimento}"
									class="form-control" id="nomeDipartimento"
									placeholder="Nome dipartimento">
							</div>
							<div class="form-group col-md-8">
								<label for="areaDipartimento" class="col-form-label">
									Area Dipartimento</label> <select class="form-control"
									th:field="*{areaDipartimento}" id="areaDipartimento">
									<option value="0">Seleziona area</option>
									<option
										th:each="area : ${T(edu.unimib.psw.assignment3.entity.Area).values()}"
										th:value="${area}" th:text="${area}"></option>
								</select>
							</div>
							<div class="form-group col-md-8">
								<label for="numTelefono" class="col-form-label">Numero
									Telefono</label> <input type="tel" th:field="*{numTelefono}"
									pattern="^[+]?[0-9]{9,12}$"
									class="form-control" id="numTelefono"
									placeholder="Numero di telefono"> <span
									th:if="${#fields.hasErrors('numTelefono')}"
									th:errors="*{numTelefono}" class="text-danger"></span>
									<small>Formato: +39XXXXXXXXX</small>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary"
									value="Aggiungi Dipartimento">
							</div>

							<div class="form-group col-md-8"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>