<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Aggiungi impiegato</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div th:replace = "navbar :: navbar"></div>
	<div class="container my-5">
		<h3>Aggiungi impiegato</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/impiegati/salva}"
						th:object="${impiegato}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nome" class="col-form-label">Nome</label> <input
									type="text" th:field="*{nome}" class="form-control" id="nome"
									placeholder="Nome">
							</div>
							<div class="form-group col-md-8">
								<label for="cognome" class="col-form-label">Cognome</label> <input
									type="text" th:field="*{cognome}" class="form-control"
									id="cognome" placeholder="Cognome">
							</div>

							<div class="form-group col-md-8">
								<label for="ruolo" class="col-form-label">Ruolo</label> <input
									type="text" th:field="*{ruolo}" class="form-control" id="ruolo"
									placeholder="Ruolo">
							</div>

							<div class="form-group col-md-8">
								<label for="dataAssunzione" class="col-form-label">Data
									Assunzione</label> <input type="date" th:field="*{dataAssunzione}"
									class="form-control" id="dataAssunzione"
									placeholder="Data Assunzione">
							</div>

							<div class="form-group col-md-8">
								<label for="capo" class="col-form-label">Capo</label> <select
									class="form-control" th:field="*{capo}" id="capo">
									<option value="0">Seleziona capo</option>
									<option th:each="capo : ${impiegati}" th:value="${capo.id}"
										th:text="${capo?.cognome}"></option>
								</select>
							</div>

							<div class="form-group col-md-8">
								<label for="dipartimento" class="col-form-label">Dipartimento</label>
								<select class="form-control" th:field="*{dipartimento}"
									id="dipartimento">
									<option value="0">Seleziona dipartimento</option>
									<option th:each="dipartimento : ${dipartimenti}"
										th:value="${dipartimento.id}"
										th:text="${dipartimento?.nomeDipartimento}"></option>
								</select>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary"
									value="Aggiungi Impiegato">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>