<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Progetti</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href = "/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type = "text/css" rel = "stylesheet" >
<link href = "/webjars/font-awesome/5.4.1/css/all.css" type = "text/css" rel = "stylesheet" >
</head>
<body>
	<div th:replace="navbar :: navbar"></div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/progetti/cerca}"
						th:object="${filtro}" method="get">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="nomeProgetto" class="col-form-label">Nome
									Progetto</label> <input type="text" name="nomeProgetto"
									id="nomeProgetto" th:field="*{nomeProgetto}" class="form-control"/>

							</div>
							<div class="form-group col-md-4">
								<label for="cognomeImpiegato" class="col-form-label">Impiegati</label>
								<select class="form-control" id="cognomeImpiegato"
									th:field="*{cognomeImpiegato}">
									<option value="null">Seleziona impiegato</option>
									<option th:each="impiegato : ${impiegatiFiltro}"
										th:value="${impiegato.cognome}" th:text="${impiegato.cognome}"></option>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="nomeAzienda" class="col-form-label">Clienti</label>
								<select class="form-control" id="nomeAzienda"
									th:field="*{nomeAzienda}">
									<option value="null">Seleziona cliente</option>
									<option th:each="cliente : ${clientiFiltro}"
										th:value="${cliente.nomeAzienda}"
										th:text="${cliente.nomeAzienda}"></option>
								</select>
							</div>

							<div class="col-md-4">
								<input type="submit" class="btn btn-primary" value="Cerca">
							</div>
						</div>
					</form>
				</div>





				<div th:switch="${progetti}" class="container my-5">
					<p class="my-5">
						<a href="/progetti/nuovo" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Aggiungi progetto</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nessun progetto per ora</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nome progetto</th>
										<th>Impiegati</th>
										<th>Clienti</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="progetto : ${progetti}">
										<td th:text="${progetto.id}">ID</td>
										<td th:text="${progetto.nomeProgetto}">NOME</td>
										<td>
											<table>
												<tr th:each="impiegato : ${progetto.impiegati}">
													<td th:text="${impiegato.cognome}">IMPIEGATI</td>
												</tr>
											</table>
										</td>
										<td>
											<table>
												<tr th:each="cliente : ${progetto.clienti}">
													<td th:text="${cliente.nomeAzienda}">CLIENTI</td>
												</tr>
											</table>
										<td><a
											th:href="@{/progetti/modifica/{id}(id=${progetto.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/progetti/elimina/{id}(id=${progetto.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>